{% extends 'base.html' %}

{%  block body %}
<div class="accordion container mt-2 mb-2" id="accordionExample">
        {% for row in data %}
<div class="accordion-item" data-item="{{ row.Id }}">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" id="b{{row.Id}}" type="button" data-bs-toggle="collapse" data-bs-target="#{{ row.Id }}" aria-expanded="false" aria-controls="{{ row.Id }}">
            {{ row.title }}
          </button>
        </h2>
          <div id="{{ row.Id }}" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
              <a role="button" class="btn btn-outline-primary" href="https://url.moviezdude.site/{{channel}}/{{row.Id}}">Dowload</a>
              <a role="button" class="btn btn-outline-danger" href="vlc://https://url.moviezdude.site/{{channel}}/{{row.Id}}">VLC</a>
              <a role="button" class="btn btn-outline-warning" href= "infuse://x-callback-url/play?x-success=some-app://x-callback-url/playbackDidFinish&x-error=some-app://x-callback-url/playbackDidFail&url=https://url.moviezdude.site/{{channel}}/{{row.Id}}">Infuse</a>
          </div>
        </div>
</div>
        {% endfor %}
</div>
    <nav aria-label="..." style="margin-bottom:15px">
  <ul class="pagination justify-content-center">
    {% if perv %}
    <li class="page-item">
      <a class="page-link" href="?page={{ perv }}&perPage={{ request.args.get('perPage', 20) }}&search={{ request.args.get('search', '') }}">Previous</a>
    </li>
    {% endif %}
    {% if next %}
    <li class="page-item">
      <a class="page-link" href="?page={{ next }}&perPage={{ request.args.get('perPage', 20) }}&search={{ request.args.get('search', '') }}">Next</a>
    </li>
    {% endif %}
  </ul>
</nav>
{% endblock %}
